/* ./pitpar/css/responsive.css */
/* ===== MEDIA QUERIES PARA MÓVILES ===== */
/* ==============================
            RESPONSIVE
   ============================== */
@media (max-width: 768px) {
    body {
      padding-bottom: 180px;
    }
    body::before {
	  width: 300px;
	  height: 230px;	  
	}
	body.menu-open {
    overflow: hidden; /* bloquea fondo */
  }
	
    nav {
      flex-direction: column;
      gap: 8px;
      z-index: 3001;
    }
    
    #hero {
		padding-top: 40px;
		padding-bottom: 10px;
	}

    #musica button {
      max-width: 90%;
      font-size: 18px;
      padding: 10px;
    }

    #contact-form {
      width: 95%;
    }
    
  #player {
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 15px;
    gap: 8px;
  }
  
  #player-left,
  #player-right {
    flex: unset;
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  #track-name {
    margin-left: 0;
    text-align: center;
    font-size: 13px;
  }
  #player-center {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  #progress {
    width: 100%;
  }

  #volume {
    width: 120px;
  }

  #volume-percent {
    text-align: center;
  }
  #menu-toggle {
    display: flex;
    z-index: 3001;
  }

  #nav-links {
    display: none;

    position: fixed;
    inset: 0;

    background: black;

    flex-direction: row;
    align-items: center;

    padding: 100px 20px 140px;

    overflow-y: auto; /* 🔥 CLAVE REAL */
    -webkit-overflow-scrolling: touch;

    z-index: 3000;
  }

  #nav-links.active {
    display: flex;
  }

  #nav-links button {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  .social-links {
		display:flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 10px;
		gap: 30px;
	}
	.social-link img {
		width: 70px;
		height: 70px;
	}
	.keyboard-shortcuts {
		display: none;
	}
	#atajos,
	#linea,
	#logoNavBar {
		display: none;
	}
  .show.open::after {
    transform: translate(-50%, -200%) rotate(-45deg);
    opacity: 0;
  }
  #visit-counter {
	  font-size: 10px;
	  padding: 4px 8px;
	  bottom: 180px;
  }
}
